.bg-D50000 {
    background-color: #D50000 !important;
}


.bg-F44336 {
    background-color: #F44336 !important;
}


.bg-FF5252 {
    background-color: #FF5252 !important;
}


.bg-E65100 {
    background-color: #E65100 !important;
}


.bg-FF6D00 {
    background-color: #FF6D00 !important;
}


.bg-F57F17 {
    background-color: #F57F17 !important;
}


.bg-F9A825 {
    background-color: #F9A825 !important;
}


.bg-FFCC80 {
    background-color: #FFCC80 !important;
}


.bg-FFC400 {
    background-color: #FFC400 !important;
}


.bg-FDD835 {
    background-color: #FDD835 !important;
}


.bg-FFF176 {
    background-color: #FFF176 !important;
}


.bg-CCFF90 {
    background-color: #CCFF90 !important;
}


.bg-B2FF59 {
    background-color: #B2FF59 !important;
}


.bg-76FF03 {
    background-color: #76FF03 !important;
}


.bg-00E676 {
    background-color: #00E676 !important;
}


.bg-00C853 {
    background-color: #00C853 !important;
}


.bg-1DE9B6 {
    background-color: #1DE9B6 !important;
}


.bg-69F0AE {
    background-color: #69F0AE !important;
}


.bg-4DB6AC {
    background-color: #4DB6AC !important;
}


.bg-81D4FA {
    background-color: #81D4FA !important;
}


.bg-29B6F6 {
    background-color: #29B6F6 !important;
}


.bg-2196F3 {
    background-color: #2196F3 !important;
}


.bg-2979FF {
    background-color: #2979FF !important;
}


.bg-00E5FF {
    background-color: #00E5FF !important;
}


.bg-18FFFF {
    background-color: #18FFFF !important;
}


.bg-82B1FF {
    background-color: #82B1FF !important;
}


.bg-7B1FA2 {
    background-color: #7B1FA2 !important;
}


.bg-D500F9 {
    background-color: #D500F9 !important;
}


.bg-EC407A {
    background-color: #EC407A !important;
}


.bg-F48FB1 {
    background-color: #F48FB1 !important;
}