.btsave {
	margin-top: 20px;
}

.loginblock {
	/* position: absolute; */
	/* text-align: center; */
}

.inputform {
  width: 250px !important;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  border-radius: 20px !important;
  border: 0.5px solid #d2d2d2;
  padding: 5px 0px 5px 19px;
}
.inputform:focus {
  /* border: 0.5px solid #d2d2d2; */
  border: 0.5px solid #5bc2e1;
  outline-width: 0px;
  
}

.iconTraffic{
  font-size: 50px !important;
color: #3a3a3a !important;
}

.des {
	color: gray !important;
	font-size: 20px;
	margin-bottom: 20px;
  margin-top: 10px;
  
  
}
.des:hover{

}

.err{
  margin-top:10px;
  color: red;
}