input[type='checkbox'] {
  visibility: hidden;
}
@media (min-width: 321px) and (max-width: 575.98px) {
  .comparefont {
    font-size: 30px;
    background-color: white
  }
  .charticon {
    width: 30px;
    margin-right: 15px;
    bottom: 3px;
    position: relative;
  }
  .comparegraph {
    padding: 10px;
    padding-top: 0;
    height: 290px;
    overflow-y: scroll;
  }
  .selectmanagerbox {
    background-color: #fafbfd;
    padding-top: 10px;
    padding-bottom: 0;
    box-shadow: 0px 4px 10px 1px #d8ecf5;
    border-top: 1px solid #ebebeb;
  }
  .selectmanagerhead {
    padding-left: 12px;
  }
  .selectmanagertext {
    font-size: 23px;
  }
  .compareclear {
    cursor: pointer;
    font-size: 12px;
    line-height: 12px;
    display: inline;
    position: relative;
    float: right;
    color: #ffb3b3;
    border: 1px solid #ffb3b3;
    border-radius: 7px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 22px;
    bottom: 17px;
  }
  .viewstatistics {
    font-size: 14px;
    color: #e0e0e0;
    position: relative;
    left: 12px;
    bottom: 13px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .comparefont {
    font-size: 30px;
    line-height: 40px;
    margin-top: 10px;
  }
  .charticon {
    width: 23px;
    margin-right: 15px;
    bottom: 3px;
    position: relative;
  }
  .comparegraph {
    margin-top: 10px;
    padding: 10px;
    height: 295px;
    box-shadow: 0px 4px 10px 1px #d8ecf5;
    margin-right: 15px
  }
  .selectmanagerbox {
    background-color: #fafbfd;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 0;
    box-shadow: 0px 4px 10px 1px #d8ecf5;
  }
  .selectmanagerhead {
    padding-left: 12px;
  }
  .selectmanagertext {
    font-size: 13px;
  }
  .compareclear {
    cursor: pointer;
    font-size: 8px;
    line-height: 8px;
    display: inline;
    position: relative;
    float: right;
    color: #ffb3b3;
    border: 1px solid #ffb3b3;
    border-radius: 7px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 11px;
    bottom: 11px;
  }
  .viewstatistics {
    font-size: 11px;
    color: #e0e0e0;
    position: relative;
    left: 7px;
    bottom: 9px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .comparefont {
    font-size: 35px;
    line-height: 40px;
    margin-left: 60px;
    margin-top: 15px;
  }
  .charticon {
    width: 27px;
    margin-right: 15px;
    bottom: 3px;
    position: relative;
  }
  .comparegraph {
    margin: 10px 0 14px 0;
    padding: 10px;
    height: 310px;
    box-shadow: 0px 4px 10px 1px #d8ecf5;
    margin-right: 15px
  }
  .selectmanagerbox {
    background-color: #fafbfd;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 0;
    box-shadow: 0px 4px 10px 1px #d8ecf5;
    width: 200px;
  }
  .selectmanagerhead {
    padding-left: 12px;
  }
  .selectmanagertext {
    font-size: 18px;
  }
  .compareclear {
    cursor: pointer;
    font-size: 10px;
    line-height: 12px;
    display: inline;
    position: relative;
    float: right;
    color: #ffb3b3;
    border: 1px solid #ffb3b3;
    border-radius: 7px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 22px;
    bottom: 17px;
  }
  .viewstatistics {
    font-size: 12px;
    color: #e0e0e0;
    position: relative;
    left: 10px;
    bottom: 12px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .comparefont {
    font-size: 35px;
    line-height: 40px;
    margin-left: 80px;
    margin-top: 10px;
  }
  .charticon {
    width: 30px;
    margin-right: 15px;
    bottom: 3px;
    position: relative;
  }
  .comparegraph {
    margin: 10px 0 14px 0;
    padding: 10px;
    height: 410px;
    box-shadow: 0px 4px 10px 1px #d8ecf5;
    margin-right: 15px
  }
  .selectmanagerbox {
    background-color: #fafbfd;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 0;
    box-shadow: 0px 4px 10px 1px #d8ecf5;
  }
  .selectmanagerhead {
    padding-left: 12px;
  }
  .selectmanagertext {
    font-size: 21px;
  }
  .compareclear {
    cursor: pointer;
    font-size: 10px;
    line-height: 12px;
    display: inline;
    position: relative;
    float: right;
    color: #ffb3b3;
    border: 1px solid #ffb3b3;
    border-radius: 7px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 22px;
    bottom: 17px;
  }
  .viewstatistics {
    font-size: 14px;
    color: #e0e0e0;
    position: relative;
    left: 12px;
    bottom: 13px;
  }
}

@media (min-width: 1200px) {
  .comparefont {
    font-size: 40px;
    line-height: 40px;
    margin-left: 80px;
    margin-top: 10px;
  }
  .charticon {
    width: 30px;
    margin-right: 15px;
    bottom: 3px;
    position: relative;
  }
  .comparegraph {
    margin-bottom: 24px;
    margin-top: 5px;
    padding: 10px;
    height: 480px;
    box-shadow: 0px 4px 10px 1px #d8ecf5;
    margin-right: 15px
  }
  .selectmanagerbox {
    background-color: #fafbfd;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 0;
    box-shadow: 0px 4px 10px 1px #d8ecf5;
  }
  .selectmanagerhead {
    padding-left: 12px;
  }
  .selectmanagertext {
    font-size: 23px;
  }
  .compareclear {
    cursor: pointer;
    font-size: 12px;
    line-height: 12px;
    display: inline;
    position: relative;
    float: right;
    color: #ffb3b3;
    border: 1px solid #ffb3b3;
    border-radius: 7px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 22px;
    bottom: 17px;
  }
  .viewstatistics {
    font-size: 14px;
    color: #e0e0e0;
    position: relative;
    left: 12px;
    bottom: 13px;
  }
}
