.colorgrid {
  padding-left: 0px;
  padding-right: 0px;
}
.pd5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.pd10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.search {
  color: rgb(51, 51, 51);
  width: 100%;
  line-height: 1.8em;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 0px;
  padding: 0px 1em;
}
.weight {
  border: 1px solid #a0a0a0;
  border-radius: 5px;
  color: #a0a0a0;
  text-align: center;
}
@media (max-width: 320px) {
  .addprojectbox {
    font-size: 8px;
  }
  .sliderbox {
    margin-top: 10px;
    margin-left: 4px;
  }
  .weight {
    font-size: 12px;
    width: 48px;
    bottom: 4px;
    position: relative;
  }
  .weightbox {
    margin-right: 5px;
    bottom: 8px;
    margin-top: 30px;
    right: 8px;
  }
  .form-control {
    font-size: 6px !important;
    top: 6px;
    position: relative;
  }
  .addpmbox {
    margin-bottom: 7px;
    bottom: 5px;
    padding-left: 0 !important;
  }
  .Select-placeholder {
    font-size: 12px;
  }
  .Select-control {
    top: 5px;
  }
}
@media (min-width: 321px) and (max-width: 575.98px) {
  .addprojectbox {
    font-size: 10px;
  }
  .weight {
    font-size: 12px;
    width: 48px;
  }
  .weightbox {
    margin-right: 5px;
    bottom: 8px;
    margin-top: 26px;
    right: 8px;
  }
  .form-control {
    font-size: 8px !important;
  }
  .addpmbox {
    margin-bottom: 7px;
    bottom: 5px;
  }
  .Select-placeholder {
    font-size: 5px;
  }
  .sliderbox {
    margin-top: 7px;
    left: 3px;
    position: relative;
  }
  .projectweighttext {
    right: 2px;
    position: relative;
  }
  .pmweighttext {
    padding-left: 15px !important;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .addprojectbox {
    font-size: 10px;
  }
  .sliderbox {
    margin-top: 10px;
  }
  .weight {
    font-size: 12px;
    width: 48px;
  }
  .weightbox {
    margin-right: 5px;
    bottom: 8px;
    margin-top: 30px;
    right: 8px;
  }
  .form-control {
    font-size: 10px !important;
  }
  .addpmbox {
    margin-bottom: 7px;
    bottom: 5px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .addprojectbox {
    font-size: 15px;
  }
  .sliderbox {
    margin-top: 10px;
  }
  .weight {
    font-size: 12px;
    width: 48px;
    margin-top: 6px;
  }
  .weightbox {
    margin-right: 5px;
    bottom: 8px;
    margin-top: 30px;
    right: 8px;
  }
  .form-control {
    font-size: 12px !important;
  }
  .addpmbox {
    margin-bottom: 7px;
    bottom: 5px;
  }
  .projectnamebox {
    margin-bottom: 10px;
  }
  .projectweighttext {
    right: 5px;
    position: relative;
  }
  .pmweighttext {
    padding-left: 10px !important;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .addprojectbox {
    font-size: 15px;
  }
  .sliderbox {
    margin-top: 17px;
  }
  .weight {
    font-size: 12px;
    top: 9px;
    position: relative;
    width: 3.125rem;
  }
  .weightbox {
    margin-right: 10px;
    margin-top: 26px;
  }
  .form-control {
    font-size: 14px !important;
  }
  .addpmbox {
    margin-bottom: 10px;
    bottom: 5px;
  }
  .projectnamebox {
    margin-bottom: 10px;
  }
  .projectweighttext {
      right: 5px;
      position: relative
  }
  .pmweighttext {
    right: 5px;
  }
}
@media (min-width: 1200px) {
  .addprojectbox {
    font-size: 15px;
  }
  .sliderbox {
    margin-top: 17px;
  }
  .weight {
    font-size: 12px;
    position: relative;
    top: 8px;
    width: 3.125rem;
  }
  .weightbox {
    margin-right: 10px;
    margin-top: 26px;
  }
  .form-control {
    font-size: 14px !important;
  }
  .addpmbox {
    margin-bottom: 10px;
    bottom: 5px;
  }
  .projectnamebox {
    margin-bottom: 10px;
  }
  .pmweighttext {
    margin-left: 4px;
  }
  .projectweighttext {
    margin-right: 5px;
    right: 5px;
    position: relative;
  }
  
}
/* @media (min-width: 702px) {
    html {
        font-size: 10px;
    }
}

@media (min-width: 724px) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 623px) {
    html {
        font-size: 8px;
    }
} */

.btn-5bc2e1 {
  background-color: #5bc2e1;
  color: white;
}
.savelink:hover {
  color: white;
  text-decoration: none;
}
.rc-slider-rail {
  background-color: #d8d8d8 !important;
}
.rc-slider-track {
  background-color: #5ac2e2 !important;
}

.rc-slider-handle {
  background-color: #3d93a8 !important;
  border-color: #fff !important;
}
.form-control {
  border-color: #5ac2e2 !important;
}
.weight {
  border-color: #5ac2e2 !important;
}
.weightpm {
  border-color: #5ac2e2 !important;
}

.Select-control {
  border-color: #5ac2e2 !important;
}
