.font {
	color: #504f4f !important;
}

@media (min-width: 321px) and (max-width: 575.98px) {
	.font {
		font-size: 30px;
	}
}
@media (min-width: 576px) and (max-width: 767.98px) {
	.font {
		font-size: 24px;
	}
	.editmembercontainer {
		position: relative;
		bottom: 12px;
		left: 15px;
	}

	.SettingPersonTagContainer {
		bottom: 30px;
	}
	.dropdown-menu.show{
		margin: -20px 0px 0px 20px;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.font {
		font-size: 30px;
	}
	.SettingPersonTagContainer {
		font-size: 10px;
	}
	.dropdown-menu.show{
		margin: -10px 0px 0px 10px;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.font {
		font-size: 30px;
	}
	.SettingPersonTagContainer {
		font-size: 10px;
	}
	
}

@media (min-width: 1200px) {
	.font {
		font-size: 30px;
	}
}
