.headcontainer {
  top: 56px;
  z-index: 2;
  position: sticky;
}
@media (min-width: 321px) and (max-width: 575.98px) {
  .headcontainer {
    font-size: 20px;
    padding-bottom: 12.5px;
    width: 150px;
    top: 46px;
  }
  .head {
    padding-top: 17px;
  }
  .foldericon {
    width: 21px;
    margin-left: 13px;
    position: relative;
    bottom: 3px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .headcontainer {
    font-size: 20px;
    padding-bottom: 12.5px;
  }
  .head {
    padding-top: 17px;
  }
  .foldericon {
    width: 21px;
    margin-left: 13px;
    position: relative;
    bottom: 3px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .headcontainer {
    font-size: 20px;
    padding-bottom: 12.5px;
  }
  .head {
    padding-top: 17px;
  }
  .foldericon {
    width: 26px;
    margin-left: 20px;
    position: relative;
    bottom: 3px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .headcontainer {
    font-size: 20px;
    padding-left: 10px;
    padding-bottom: 12.5px;
  }
  .head {
    padding-top: 17px;
  }
  .foldericon {
    width: 26px;
    margin-left: 20px;
    position: relative;
    bottom: 3px;
  }
}
@media (min-width: 1200px) {
  .headcontainer {
    font-size: 23px;
    padding-left: 10px;
    padding-bottom: 12.5px;
  }
  .head {
    padding-top: 13px;
  }
  .foldericon {
    width: 26px;
    margin-left: 20px;
    position: relative;
    bottom: 3px;
  }
}
