.bg-D50000 {
  background-color: #d50000 !important;
}

.bg-F44336 {
  background-color: #f44336 !important;
}

.bg-FF5252 {
  background-color: #ff5252 !important;
}

.bg-E65100 {
  background-color: #e65100 !important;
}

.bg-FF6D00 {
  background-color: #ff6d00 !important;
}

.bg-F57F17 {
  background-color: #f57f17 !important;
}

.bg-F9A825 {
  background-color: #f9a825 !important;
}

.bg-FFCC80 {
  background-color: #ffcc80 !important;
}

.bg-FFC400 {
  background-color: #ffc400 !important;
}

.bg-FDD835 {
  background-color: #fdd835 !important;
}

.bg-FFF176 {
  background-color: #fff176 !important;
}

.bg-CCFF90 {
  background-color: #ccff90 !important;
}

.bg-B2FF59 {
  background-color: #b2ff59 !important;
}

.bg-76FF03 {
  background-color: #76ff03 !important;
}

.bg-00E676 {
  background-color: #00e676 !important;
}

.bg-00C853 {
  background-color: #00c853 !important;
}

.bg-1DE9B6 {
  background-color: #1de9b6 !important;
}

.bg-69F0AE {
  background-color: #69f0ae !important;
}

.bg-4DB6AC {
  background-color: #4db6ac !important;
}

.bg-81D4FA {
  background-color: #81d4fa !important;
}

.bg-29B6F6 {
  background-color: #29b6f6 !important;
}

.bg-2196F3 {
  background-color: #2196f3 !important;
}

.bg-2979FF {
  background-color: #2979ff !important;
}

.bg-00E5FF {
  background-color: #00e5ff !important;
}

.bg-18FFFF {
  background-color: #18ffff !important;
}

.bg-82B1FF {
  background-color: #82b1ff !important;
}

.bg-EA80FC {
  background-color: #ea80fc !important;
}

.bg-D500F9 {
  background-color: #d500f9 !important;
}

.bg-EC407A {
  background-color: #ec407a !important;
}

.bg-F48FB1 {
  background-color: #f48fb1 !important;
}

.linkprojectname-D50000 {
  color: black;
}
.linkprojectname-F44336 {
  color: black;
}
.linkprojectname-FF5252 {
  color: black;
}
.linkprojectname-E65100 {
  color: black;
}
.linkprojectname-FF6D00 {
  color: black;
}
.linkprojectname-F57F17 {
  color: black;
}
.linkprojectname-F9A825 {
  color: black;
}
.linkprojectname-FFCC80 {
  color: black;
}
.linkprojectname-FFC400 {
  color: black;
}
.linkprojectname-FDD835 {
  color: black;
}
.linkprojectname-FFF176 {
  color: black;
}
.linkprojectname-CCFF90 {
  color: black;
}
.linkprojectname-B2FF59 {
  color: black;
}
.linkprojectname-76FF03 {
  color: black;
}
.linkprojectname-00E676 {
  color: black;
}
.linkprojectname-00C853 {
  color: black;
}
.linkprojectname-1DE9B6 {
  color: black;
}
.linkprojectname-69F0AE {
  color: black;
}
.linkprojectname-4DB6AC {
  color: black;
}
.linkprojectname-81D4FA {
  color: black;
}
.linkprojectname-29B6F6 {
  color: black;
}
.linkprojectname-2196F3 {
  color: black;
}
.linkprojectname-2979FF {
  color: black;
}
.linkprojectname-00E5FF {
  color: black;
}
.linkprojectname-18FFFF {
  color: black;
}
.linkprojectname-82B1FF {
  color: black;
}
.linkprojectname-EA80FC {
  color: black;
}
.linkprojectname-D500F9 {
  color: black;
}
.linkprojectname-EC407A {
  color: black;
}
.linkprojectname-F48FB1 {
  color: black;
}
.linkprojectname-D50000:hover {
  color: #d50000;
}
.linkprojectname-F44336:hover {
  color: #f44336;
}
.linkprojectname-FF5252:hover {
  color: #ff5252;
}
.linkprojectname-E65100:hover {
  color: #e65100;
}
.linkprojectname-FF6D00:hover {
  color: #ff6d00;
}
.linkprojectname-F57F17:hover {
  color: #f57f17;
}
.linkprojectname-F9A825:hover {
  color: #f9a825;
}
.linkprojectname-FFCC80:hover {
  color: #ffcc80;
}
.linkprojectname-FFC400:hover {
  color: #ffc400;
}
.linkprojectname-FDD835:hover {
  color: #fdd835;
}
.linkprojectname-FFF176:hover {
  color: #fff176;
}
.linkprojectname-CCFF90:hover {
  color: #ccff90;
}
.linkprojectname-B2FF59:hover {
  color: #b2ff59;
}
.linkprojectname-76FF03:hover {
  color: #76ff03;
}
.linkprojectname-00E676:hover {
  color: #00e676;
}
.linkprojectname-00C853:hover {
  color: #00c853;
}
.linkprojectname-1DE9B6:hover {
  color: #1de9b6;
}
.linkprojectname-69F0AE:hover {
  color: #69f0ae;
}
.linkprojectname-4DB6AC:hover {
  color: #4db6ac;
}
.linkprojectname-81D4FA:hover {
  color: #81d4fa;
}
.linkprojectname-29B6F6:hover {
  color: #29b6f6;
}
.linkprojectname-2196F3:hover {
  color: #2196f3;
}
.linkprojectname-2979FF:hover {
  color: #2979ff;
}
.linkprojectname-00E5FF:hover {
  color: #00e5ff;
}
.linkprojectname-18FFFF:hover {
  color: #18ffff;
}
.linkprojectname-82B1FF:hover {
  color: #82b1ff;
}
.linkprojectname-EA80FC:hover {
  color: #ea80fc;
}
.linkprojectname-D500F9:hover {
  color: #d500f9;
}
.linkprojectname-EC407A:hover {
  color: #ec407a;
}
.linkprojectname-F48FB1:hover {
  color: #f48fb1;
}
.linkprojectname-D50000:hover {
  color: #d50000;
}
.linkprojectname-F44336:hover {
  color: #f44336;
}
.linkprojectname-FF5252:hover {
  color: #ff5252;
}
.linkprojectname-E65100:hover {
  color: #e65100;
}
.linkprojectname-FF6D00:hover {
  color: #ff6d00;
}
.linkprojectname-F57F17:hover {
  color: #f57f17;
}
.linkprojectname-F9A825:hover {
  color: #f9a825;
}
.linkprojectname-FFCC80:hover {
  color: #ffcc80;
}
.linkprojectname-FFC400:hover {
  color: #ffc400;
}
.linkprojectname-FDD835:hover {
  color: #fdd835;
}
.linkprojectname-FFF176:hover {
  color: #fff176;
}
.linkprojectname-CCFF90:hover {
  color: #ccff90;
}
.linkprojectname-B2FF59:hover {
  color: #b2ff59;
}
.linkprojectname-76FF03:hover {
  color: #76ff03;
}
.linkprojectname-00E676:hover {
  color: #00e676;
}
.linkprojectname-00C853:hover {
  color: #00c853;
}
.linkprojectname-1DE9B6:hover {
  color: #1de9b6;
}
.linkprojectname-69F0AE:hover {
  color: #69f0ae;
}
.linkprojectname-4DB6AC:hover {
  color: #4db6ac;
}
.linkprojectname-81D4FA:hover {
  color: #81d4fa;
}
.linkprojectname-29B6F6:hover {
  color: #29b6f6;
}
.linkprojectname-2196F3:hover {
  color: #2196f3;
}
.linkprojectname-2979FF:hover {
  color: #2979ff;
}
.linkprojectname-00E5FF:hover {
  color: #00e5ff;
}
.linkprojectname-18FFFF:hover {
  color: #18ffff;
}
.linkprojectname-82B1FF:hover {
  color: #82b1ff;
}
.linkprojectname-EA80FC:hover {
  color: #ea80fc;
}
.linkprojectname-D500F9:hover {
  color: #d500f9;
}
.linkprojectname-EC407A:hover {
  color: #ec407a;
}
.linkprojectname-F48FB1:hover {
  color: #f48fb1;
}
.projectname {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.percent {
  text-align: center;
  position: relative;
}

@media (min-width: 321px) and (max-width: 575.98px) {
  .headcontainer {
    font-size: 20px;
    padding-left: 10px;
    padding-bottom: 12.5px;
  }
  .head {
    padding-top: 17px;
  }
  .foldericon {
    width: 26px;
    margin-left: 20px;
    position: relative;
    bottom: 3px;
  }
  .projectitem {
    padding-bottom: 23px;
  }
  .pmcontainer {
    margin-left: 15px;
  }
  .pmname {
    font-size: 10px;
    border: 0.125rem solid #c6c6c6;
    border-radius: 0.625rem;
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
    margin-right: 2px;
  }
  .projectname {
    padding-top: 15px;
    margin-left: 15px;
    font-size: 15px;
    padding-bottom: 2px;
  }
  .progresscontainer {
    margin-left: 15px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .progress {
    border-radius: 8px !important;
    width: 120px;
  }
  .pmcontainer {
    bottom: 5px;
    position: relative;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .headcontainer {
    font-size: 20px;
    padding-left: 10px;
    padding-bottom: 12.5px;
  }
  .head {
    padding-top: 17px;
  }
  .foldericon {
    width: 26px;
    margin-left: 20px;
    position: relative;
    bottom: 3px;
  }
  .projectitem {
    padding-bottom: 23px;
  }
  .pmcontainer {
    margin-left: 15px;
  }
  .pmname {
    font-size: 10px;
    border: 0.125rem solid #c6c6c6;
    border-radius: 0.625rem;
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
    margin-right: 2px;
  }
  .projectname {
    padding-top: 15px;
    margin-left: 15px;
    font-size: 15px;
    padding-bottom: 2px;
  }
  .progresscontainer {
    margin-left: 15px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-end
  }
  .progress {
    border-radius: 8px !important;
    width: 120px;
  }
  .pmcontainer {
    bottom: 5px;
    position: relative;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .headcontainer {
    font-size: 20px;
    padding-left: 10px;
    padding-bottom: 12.5px;
  }
  .head {
    padding-top: 17px;
  }
  .foldericon {
    width: 26px;
    margin-left: 20px;
    position: relative;
    bottom: 3px;
  }
  .projectitem {
    padding-bottom: 23px;
  }
  .pmcontainer {
    margin-left: 15px;
  }
  .pmname {
    font-size: 10px;
    border: 0.125rem solid #c6c6c6;
    border-radius: 0.625rem;
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
    margin-right: 2px;
  }
  .projectname {
    padding-top: 15px;
    margin-left: 15px;
    font-size: 15px;
    padding-bottom: 2px;
  }
  .progresscontainer {
    margin-left: 15px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .progress {
    border-radius: 8px !important;
    width: 16vw;
    height: 13px;
  }
  .pmcontainer {
    bottom: 5px;
    position: relative;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .headcontainer {
    font-size: 20px;
    padding-left: 10px;
    padding-bottom: 12.5px;
  }
  .head {
    padding-top: 17px;
  }
  .foldericon {
    width: 26px;
    margin-left: 20px;
    position: relative;
    bottom: 3px;
  }
  .projectitem {
    padding-bottom: 23px;
  }
  .pmcontainer {
    margin-left: 15px;
  }
  .pmname {
    font-size: 10px;
    border: 0.125rem solid #c6c6c6;
    border-radius: 0.625rem;
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
    margin-right: 2px;
  }
  .projectname {
    padding-top: 15px;
    margin-left: 15px;
    font-size: 15px;
    padding-bottom: 2px;
  }
  .progresscontainer {
    margin-left: 15px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .progress {
    border-radius: 8px !important;
    width: 15vw;
    height: 16px;
  }
  .pmcontainer {
    bottom: 5px;
    position: relative;
  }
}
@media (min-width: 1200px) {
  .headcontainer {
    font-size: 20px;
    padding-left: 10px;
    padding-bottom: 12.5px;
  }
  .head {
    padding-top: 17px;
  }
  .foldericon {
    width: 26px;
    margin-left: 20px;
    position: relative;
    bottom: 3px;
  }
  .projectitem {
    padding-bottom: 23px;
  }
  .pmcontainer {
    margin-left: 15px;
    bottom: 5px;
    position: relative;
  }
  .pmname {
    font-size: 10px;
    border: 0.125rem solid #c6c6c6;
    border-radius: 0.625rem;
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
    margin-right: 2px;
  }
  .projectname {
    padding-top: 15px;
    margin-left: 15px;
    font-size: 15px;
    padding-bottom: 2px;
  }
  .progresscontainer {
    margin-left: 15px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .progress {
    border-radius: 8px !important;
    width: 30vw;
    height: 16px;
  }
}
