
.bottomtriangle {
  position: absolute;
  z-index: 1;
  left: 4rem;
  bottom: 76px;
  font-size: 20px;
  color: white;
}
.btn-secondary {
  background-color: white !important;
  border: none !important;
  float: right;
}

.btn-secondary:focus {
  box-shadow: none !important;
}
.btn-grey {
  background-color: #8c8c8c !important;
  color: white;
}
.btn-5bc2e1 {
  background-color: #5bc2e1;
  color: white;
}
.btn-white {
  background-color: white;
  color: #8c8c8c;
}
.btn-red {
  background-color: #da3849;
  color: white;
}
.error {
  color: #da3849;
}
.progress {
  border-radius: 8px;
}
.dropdown-menu {
  font-size: 0.8rem !important;
  border: 1px solid #5bc2e1 !important;
  padding: 0rem !important;
  line-height: 2rem !important;
  left: -3.6rem !important;
  text-align: center !important;
}

.dropdown-menu:focus {
  background-color: black !important;
}
.dropdownitem:focus {
  background-color: white !important;
  color: black !important;
}
.dropdowndeleteitem:focus {
  background-color: white !important;
  color: '#f67879' !important;
}
/* .Select-control {
  border-color: black !important;
} */
.eachprojectname {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.eachprojectitem {
  background-color: #ffffff;
  font-family: Prompt;
  border-bottom: 0.5px solid #dfdfdf;
}
.membertag {
  background-color: #e4e4e4;
  text-align: center;
  color: #8c8c8c;
}
.membername {
  display: flex;
  align-items: center;
}
.rct-label-group {
  background-color: white !important;
}
.rct-label{
  background-color: white !important;
}
/* .rct-hl-odd {
  background: #eaf9fe !important;
}
.rct-hl-even {
  background-color: #eaf9fe !important;
} */
@media (max-width: 575.98px) {
  .eachprojectname {
    margin-left: 15px;
    padding-top: 15px;
    margin-bottom: 5px;
    font-size: 20px;
  }
  .eachprojecthead {
    border-bottom: 0.5px solid #dfdfdf;
    padding-bottom: 34px;
  }
  .eachprojectitem {
    padding-left: 20px;
    border-bottom: 0.5px solid #dfdfdf;
    padding-bottom: 47.5px;
  }
  .membername {
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 5px;
  }
  .membertag {
    font-size: 10px;
    width: 7vw;
    margin-right: 3px;
    margin-top: 8px;
    border-radius: 3px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .eachprojectname {
    margin-left: 15px;
    padding-top: 15px;
    margin-bottom: 5px;
    font-size: 20px;
  }
  .eachprojecthead {
    border-bottom: 0.5px solid #dfdfdf;
    padding-bottom: 34px;
  }
  .eachprojectitem {
    padding-left: 20px;
    border-bottom: 0.5px solid #dfdfdf;
    padding-bottom: 47.5px;
  }
  .membername {
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 5px;
  }
  .membertag {
    font-size: 10px;
    width: 7vw;
    margin-right: 3px;
    margin-top: 8px;
    border-radius: 3px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .eachprojectname {
    margin-left: 15px;
    padding-top: 15px;
    margin-bottom: 5px;
    font-size: 20px;
  }
  .eachprojecthead {
    border-bottom: 0.5px solid #dfdfdf;
    padding-bottom: 34px;
  }
  .eachprojectitem {
    padding-left: 20px;
    border-bottom: 0.5px solid #dfdfdf;
    padding-bottom: 47.5px;
  }
  .membername {
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 5px;
  }
  .membertag {
    font-size: 10px;
    width: 7vw;
    margin-right: 3px;
    margin-top: 8px;
    border-radius: 3px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .eachprojectname {
    margin-left: 15px;
    padding-top: 15px;
    margin-bottom: 5px;
    font-size: 20px;
  }
  .eachprojecthead {
    border-bottom: 0.5px solid #dfdfdf;
    padding-bottom: 34px;
  }
  .eachprojectitem {
    padding-left: 20px;
    border-bottom: 0.5px solid #dfdfdf;
    padding-bottom: 47.5px;
  }
  .membername {
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 5px;
  }
  .membertag {
    font-size: 10px;
    width: 7vw;
    margin-right: 3px;
    margin-top: 8px;
    border-radius: 3px;
  }
}
@media (min-width: 1200px) {
  .eachprojectname {
    margin-left: 15px;
    padding-top: 24px;
    margin-bottom: 5px;
    font-size: 30px;
  }
  .eachprojecthead {
    border-bottom: 0.5px solid #dfdfdf;
    padding-bottom: 25px;
  }
  .eachprojectitem {
    padding-left: 20px;
    border-bottom: 0.5px solid #dfdfdf;
    padding-bottom: 48px;
  }
  .membername {
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 5px;
  }
  .membertag {
    font-size: 10px;
    width: 3vw;
    margin-right: 3px;
    margin-top: 8px;
    border-radius: 3px;
  }
  .error {
    font-size: 14px;
  }
  .buttoncontainer {
    margin: 15px 5px 300px 5px;
  }
  .addmemberpopover {
    width: 250px;
    height: 260px;
  }
  .eachprojectweight {
    font-size: 22px;
    position: relative;
    left: 38px;
  }
  .eachprojectedit {
    bottom: 10px;
    left: 5px;
    position: relative;
  }
  .cancelbutton {
    top: 280px;
    position: relative;
  }
}

