.btn-secondary {
  background-color: white !important;
  border: none !important;
}

.btn-secondary:focus {
  box-shadow: none !important;
}
.dropdown-menu {
  font-size: 0.8rem !important;
  border: 1px solid #5bc2e1 !important;
  padding: 0rem !important;
  line-height: 2rem !important;
  left: -3.6rem !important;
  text-align: center !important;
}

.dropdown-menu:focus {
  background-color: black !important;
}
.dropdownitem:focus {
  background-color: white !important;
  color: black !important;
}
.dropdowndeleteitem:focus {
  background-color: white !important;
  color: '#f67879' !important;
}

/* Small devices (landscape phones, 576px and up)
@media (max-width: 575.98px) { font-size: 10px }

@media (max-width: 575.98px) { ... } */
/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... } */
.eachprojectname {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.eachprojectitem {
  background-color: #ffffff;
  font-family: Prompt;
  border-bottom: 0.5px solid #dfdfdf;
}
.membertag {
  background-color: #e4e4e4;
  text-align: center;
  color: #8c8c8c;
}
.membername {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 575.98px) {
  .eachprojectname {
    margin-left: 15px;
    padding-top: 15px;
    margin-bottom: 5px;
    font-size: 20px;
  }
  .eachprojecthead {
    border-bottom: 0.5px solid #dfdfdf;
    padding-bottom: 34px;
  }
  .eachprojectitem {
    padding-left: 20px;
    border-bottom: 0.5px solid #dfdfdf;
    padding-bottom: 47.5px;
  }
  .membername {
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 5px;
  }
  .membertag {
    font-size: 10px;
    width: 7vw;
    margin-right: 3px;
    margin-top: 8px;
    border-radius: 3px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .eachprojectname {
    margin-left: 15px;
    padding-top: 15px;
    margin-bottom: 5px;
    font-size: 20px;
  }
  .eachprojecthead {
    border-bottom: 0.5px solid #dfdfdf;
    padding-bottom: 34px;
  }
  .eachprojectitem {
    padding-left: 20px;
    border-bottom: 0.5px solid #dfdfdf;
    padding-bottom: 47.5px;
  }
  .membername {
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 5px;
  }
  .membertag {
    font-size: 10px;
    width: 7vw;
    margin-right: 3px;
    margin-top: 8px;
    border-radius: 3px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .eachprojectname {
    margin-left: 15px;
    padding-top: 15px;
    margin-bottom: 5px;
    font-size: 20px;
  }
  .eachprojecthead {
    border-bottom: 0.5px solid #dfdfdf;
    padding-bottom: 34px;
  }
  .eachprojectitem {
    padding-left: 20px;
    border-bottom: 0.5px solid #dfdfdf;
    padding-bottom: 47.5px;
  }
  .membername {
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 5px;
  }
  .membertag {
    font-size: 10px;
    width: 7vw;
    margin-right: 3px;
    margin-top: 8px;
    border-radius: 3px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .eachprojectname {
    margin-left: 15px;
    padding-top: 15px;
    margin-bottom: 5px;
    font-size: 20px;
  }
  .eachprojecthead {
    border-bottom: 0.5px solid #dfdfdf;
    padding-bottom: 34px;
  }
  .eachprojectitem {
    padding-left: 20px;
    border-bottom: 0.5px solid #dfdfdf;
    padding-bottom: 47.5px;
  }
  .membername {
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 5px;
  }
  .membertag {
    font-size: 10px;
    width: 7vw;
    margin-right: 3px;
    margin-top: 8px;
    border-radius: 3px;
  }
}
@media (min-width: 1200px) {
  .eachprojectname {
    margin-left: 15px;
    padding-top: 15px;
    margin-bottom: 5px;
    font-size: 30px;
  }
  .eachprojecthead {
    border-bottom: 0.5px solid #dfdfdf;
    padding-bottom: 34px;
  }
  .eachprojectitem {
    padding-left: 20px;
    border-bottom: 0.5px solid #dfdfdf;
    padding-bottom: 47.5px;
  }
  .membername {
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 5px;
  }
  .membertag {
    font-size: 10px;
    width: 3vw;
    margin-right: 3px;
    margin-top: 8px;
    border-radius: 3px;
  }
}

.bottomtriangle {
  position: absolute;
  z-index: 1;
  left: 4rem;
  bottom: 76px;
  font-size: 20px;
  color: white;
}
