.bottomtriangle {
  position: absolute;
  z-index: 1;
  left: 4rem;
  bottom: 76px;
  font-size: 20px;
  color: white;
}
.btn-secondary {
  background-color: transparent !important;
  border: none !important;
  float: right;
}

.btn-secondary:focus {
  box-shadow: none !important;
}
.btn-grey {
  background-color: #8c8c8c !important;
  color: white;
}
.btn-5bc2e1 {
  background-color: #5bc2e1;
  color: white;
}
.btn-white {
  background-color: white;
  color: #8c8c8c;
}
.btn-red {
  background-color: #da3849;
  color: white;
}
.error {
  color: #da3849;
}
.progress {
  border-radius: 8px;
}
.dropdown-menu {
  font-size: 0.8rem !important;
  border: 1px solid #5bc2e1 !important;
  padding: 0rem !important;
  line-height: 2rem !important;
  left: -3.6rem !important;
  text-align: center !important;
}

.dropdown-menu:focus {
  background-color: black !important;
}
.dropdownitem:focus {
  background-color: white !important;
  color: black !important;
}
.dropdowndeleteitem:focus {
  background-color: white !important;
  color: '#f67879' !important;
}
.eachprojectname {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.eachprojectheadcontainer {
  top: 56px;
  z-index: 2;
  position: sticky;
}
.eachprojecthead {
  border-right: 0.5px solid #dfdfdf;
}
.rct-label-group {
  background-color: white !important;
}
.rct-label {
  background-color: white !important;
}
.eachprojectprocess {
  padding-left: 5px;
}
.Select-placeholder {
  font-family: 'DB Helvethaica X';
}
.Select-menu-outer {
  font-family: 'DB Helvethaica X';
}
@media (min-width: 321px) and (max-width: 575.98px) {
  .eachprojectname {
    margin-left: 15px;
    padding-top: 10px;
    font-size: 17px;
  }
  .eachprojecthead {
    border-bottom: 0.5px solid #dfdfdf;
    padding-bottom: 27px;
    width: 160px;
  }
  .eachprojectheadcontainer {
    top: 46px;
  }
  .eachprojectedit {
    bottom: 1px;
  }
  .eachprojectediticon {
    width: 1rem;
    height: 1rem;
  }
  .error {
    font-size: 14px;
  }
  .buttoncontainer {
    margin: 15px 5px 300px 5px;
  }
  .addmemberpopover {
    width: 250px;
    height: 260px;
  }
  .eachprojectprocess {
    font-size: 14px;
    position: relative;
    right: -8px;
    top: -1px;
  }
  .cancelbutton {
    top: 280px;
    position: relative;
  }
  .progress {
    top: 5px;
    position: relative;
  }
  .progress {
    width: 100%;
  }
  .eachprojectedit {
    bottom: 4.5px;
    position: relative;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .eachprojectname {
    margin-left: 15px;
    padding-top: 12px;
    font-size: 16px;
  }
  .eachprojecthead {
    border-bottom: 0.5px solid #dfdfdf;
    padding-bottom: 25px;
  }
  .eachprojectedit {
    bottom: 5px;
    position: relative;
  }
  .eachprojectediticon {
    width: 18px;
  }
  .error {
    font-size: 14px;
  }
  .buttoncontainer {
    margin: 15px 5px 300px 5px;
  }
  .addmemberpopover {
    width: 250px;
    height: 260px;
  }
  .eachprojectprocess {
    font-size: 16px;
    position: relative;
  }
  .cancelbutton {
    top: 280px;
    position: relative;
  }
  .progress {
    top: 5px;
    position: relative;
  }
  .progress {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .eachprojectname {
    margin-left: 15px;
    padding-top: 12px;
    font-size: 18px;
  }
  .eachprojecthead {
    border-bottom: 0.5px solid #dfdfdf;
    padding-bottom: 24px;
  }
  .eachprojectediticon {
    width: 1.5625rem;
    height: 1.5625rem;
  }
  .eachprojectedit {
    bottom: 4px;
    position: relative;
  }
  .error {
    font-size: 14px;
  }
  .buttoncontainer {
    margin: 15px 5px 300px 5px;
  }
  .addmemberpopover {
    width: 250px;
    height: 260px;
  }
  .eachprojectprocess {
    font-size: 18px;
  }
  .cancelbutton {
    top: 280px;
    position: relative;
  }
  .progress {
    top: 5px;
    position: relative;
  }
  .progress {
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .eachprojectname {
    margin-left: 15px;
    margin-bottom: 5px;
    font-size: 20px;
    margin-top: 5px;
  }
  .eachprojecthead {
    border-bottom: 0.5px solid #dfdfdf;
    padding-bottom: 20.5px;
    padding-top: 5px;
  }
  .eachprojectediticon {
    width: 1.5625rem;
    height: 1.5625rem;
  }
  .error {
    font-size: 14px;
  }
  .buttoncontainer {
    margin: 15px 5px 300px 5px;
  }
  .addmemberpopover {
    width: 250px;
    height: 260px;
  }
  .eachprojectprocess {
    font-size: 20px;
  }
  .cancelbutton {
    top: 280px;
    position: relative;
  }
  .progress {
    width: 100%;
  }
  .eachprojectedit {
    bottom: 4px;
    position: relative;
  }
}
@media (min-width: 1200px) {
  .eachprojectname {
    margin-left: 15px;
    margin-bottom: 5px;
    font-size: 20px;
    margin-top: 5px;
  }
  .eachprojecthead {
    border-bottom: 0.5px solid #dfdfdf;
    padding-bottom: 18.5px;
    padding-top: 5px;
  }
  .eachprojectediticon {
    width: 1.5625rem;
    height: 1.5625rem;
    padding-bottom: 0;
  }
  .error {
    font-size: 14px;
  }
  .buttoncontainer {
    display: flex;
    flex-direction: column;
    margin: 15px 33px 300px 33px;
  }
  .addmemberpopover {
    width: 250px;
    height: 255px;
  }
  .eachprojectprocess {
    font-size: 21px;
    position: relative;
    top: 2px;
  }
  .cancelbutton {
    top: 280px;
    position: relative;
  }
  .progress {
    width: 100%;
  }
  .eachprojectedit {
    bottom: 1px;
    position: relative;
  }
  .Select-placeholder {
    font-size: 17px !important;
  }
  .Select-menu-outer {
    font-size: 17px !important;
  }
}
