.drop {
  background-color: #f1f1f1
}

.weightpm {
    border: 1px solid #a0a0a0;
    border-radius: 5px;
    color: #a0a0a0;
    width: 62px;
    text-align: center;
    margin-top: 37px;
    padding-left: 5px;
    padding-right: 5px;
}