.colorgrid {
  padding-left: 0px;
  padding-right: 0px;
}
.title {
  font-size: 24px;
}

.pd5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.pd10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.btsave {
  margin-bottom: 10px;
}
.search {
  color: rgb(51, 51, 51);
  width: 100%;
  line-height: 1.8em;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 0px;
  padding: 0px 1em;
}
.weight {
  border: 1px solid #a0a0a0;
  border-radius: 5px;
  color: #aaa;
  top: 37px;
  width: 3.125rem;
  text-align: center;
  margin-top: 30px;
  font-size: 12px;
}
.invalid {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.input {
  margin-right: 10px;
}

input::-webkit-input-placeholder {
  font-size: 20px;
  color: #dfdfdf;
}

.btn-5bc2e1 {
  background-color: #5bc2e1;
  color: white;
}
.savelink:hover {
  color: white;
}
.rc-slider-handle {
  background-color: #3d93a8 !important;
  border-color: #fff !important;
}
.form-control {
  border-color: #5ac2e2 !important;
}
.weight {
  border-color: #5ac2e2 !important;
}
.weightpm {
  border-color: #5ac2e2 !important;
}

.Select-placeholder {
  border-color: #5ac2e2 !important;
  font-size: 20px !important;
  padding: 0px 0px 5px 10px;
  color: #dfdfdf;
}

.inputform2 {
  width: 100% !important;
  /* margin-bottom: 15px !important; */
  border-radius: 5px !important;
  border: 0.5px solid #d2d2d2;
  padding: 5px 0px 5px 10px;
  font-size: 20px;
}
.inputform2:focus {
  /* border: 0.5px solid #d2d2d2; */
  border: 0.5px solid #5bc2e1;
  outline-width: 0px;
}

.checkbox {
  position: relative;
}
.checkbox label {
  cursor: pointer;
  position: absolute;
  width: 17px;
  height: 17px;
  background-color: white;
  border: 2px solid #5bc2e1;
  border-radius: 6px;
  margin: 9px 5px 0px 0px;
}
@media (min-width: 992px) {
  .checkbox label:hover::after {
    opacity: 0.2;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    bottom: 5px;
    left: 2px;
    border: 2.2px solid #333;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    margin-top: 10px;
  }
}
.checkbox input[type='checkbox']:checked + label:after {
  opacity: 1;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  bottom: 5px;
  left: 2px;
  border: 2.2px solid #333;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}
.sendresetpasswordtext {
  position: relative;
  /* margin-left: 10px; */
  font-size: 24px !important;
}
.Select-placeholder,
.Select--single > .Select-control .Select-value {
  /* padding-left: 19px; */
}

.tag-full-w .ReactTags__tagInput {
  width: 100% !important;
  height: 100% !important;
  font-size: 20px !important;
}
.tag-full-w div.ReactTags__selected span.ReactTags__tag {
  font-size: 16px !important;
  margin: 5px 5px 5px 0px !important;
  padding: 2px 2px 2px 2px !important;
}

.tag-full-w .ReactTags__tagInput .ReactTags__tagInputField:focus {
  height: 40px !important;
  font-size: 20px !important;
  border: 0.5px solid #5bc2e1 !important;
  outline-width: 0px !important;
  padding: 0px 4px 0px 10px !important;
}
.tag-full-w .ReactTags__tagInput .ReactTags__tagInputField {
  height: 40px !important;
  font-size: 20px !important;
  border: 1px solid #d2d2d2 !important;
  padding: 0px 4px 0px 10px !important;
}

.ReactTags__selected {
  height: 80% !important;
  padding-bottom: 0px;
}

.tag-full-w .ReactTags__tagInputField {
  width: 100% !important;
  height: 50px !important;
  display: block;
  float: left;
  border-radius: 5px !important;
  border: 0.5px solid #d2d2d2 !important;
  padding: 5px 0px 0px 10px !important;
  font-size: 20px !important;
}
