.persontag {
  background-color: #e4e4e4;
  text-align: center;
  color: #8c8c8c;
}
.horizonline0 {
  position: relative;
    color: #dfdfdf;
    width: 100vw;
    top: 35px;
    right: 30px;
}
.horizonline1 {
  position: relative;
    color: #dfdfdf;
    width: 100vw;
    top: 43.5px;
    right: 30px;
}
.horizonline2 {
  position: relative;
    color: #dfdfdf;
    width: 100vw;
    top: 43px;
    right: 30px;
}
.horizonline3 {
  position: relative;
    color: #dfdfdf;
    width: 100vw;
    top: 86px;
    right: 30px;
}
.horizonline4 {
  position: relative;
    color: #dfdfdf;
    width: 100vw;
    top: 119px;
    right: 30px;
}
.horizonline5 {
  position: relative;
    color: #dfdfdf;
    width: 100vw;
    top:162px;
    right: 30px;
}
.horizonline6 {
  position: relative;
    color: #dfdfdf;
    width: 100vw;
    top: 205px;
    right: 30px;
}
.horizonline7 {
  position: relative;
    color: #dfdfdf;
    width: 100vw;
    top: 248px;
    right: 30px;
}
.horizonline8 {
  position: relative;
    color: #dfdfdf;
    width: 100vw;
    top: 293px;
    right: 30px;
}
.horizonline9 {
  position: relative;
    color: #dfdfdf;
    width: 100vw;
    top: 338px;
    right: 30px;
}
.horizonline10 {
  position: relative;
    color: #dfdfdf;
    width: 100vw;
    top: 383px;
    right: 30px;
}
@media (min-width: 321px) and (max-width: 575.98px) {
  .personheadcontainer {
    padding-top: 5px;
    padding-bottom: 14.5px;
  }
  .personhead {
    font-size: 20px;
  }
  .personitem0 {
    padding-bottom: 19px;
    padding-left: 20px;
    height: 102px;
    width: 135px;
  }
  .personitem1 {
    padding-bottom: 19px;
    padding-left: 20px;
    height: 123.4px;
    width: 135px;
  }
  .personitem2 {
    padding-bottom: 19px;
    padding-left: 20px;
    height: 124px;
    width: 135px;
  }
  .personitem3 {
    padding-bottom: 19px;
    padding-left: 20px;
    height: 166px;
    width: 135px;
  }
  .personitem4 {
    padding-bottom: 19px;
    padding-left: 20px;
    height: 208px;
    width: 135px;
  }
  .personitem5 {
    padding-bottom: 19px;
    padding-left: 20px;
    height: 250px;
    width: 135px;
  }
  .personitem6 {
    padding-bottom: 19px;
    padding-left: 20px;
    height: 292px;
    width: 135px;
  }
  .personitem7 {
    padding-bottom: 19px;
    padding-left: 20px;
    height: 334px;
    width: 135px;
  }
  .personitem8 {
    padding-bottom: 19px;
    padding-left: 20px;
    height: 376px;
    width: 135px;
  }
  .personitem9 {
    padding-bottom: 19px;
    padding-left: 20px;
    height: 418px;
    width: 135px;
  }
  .personitem10 {
    padding-bottom: 19px;
    padding-left: 20px;
    height: 460px;
    width: 135px;
  }
  .persontag {
    font-size: 7px;
    width: auto;
    margin-right: 3px;
    margin-top: 4px;
    border-radius: 2px;
    padding: 0 6px;
  }
  .personname {
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 5px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .personheadcontainer {
    padding-top: 5px;
    padding-bottom: 14.5px;
  }
  .personhead {
    font-size: 20px;
    padding-left: 10px;
  }
  .personitem0 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 102px;
  }
  .personitem1 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 123.4px;
  }
  .personitem2 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 124px;
  }
  .personitem3 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 166px;
  }
  .personitem4 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 208px;
  }
  .personitem5 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 250px;
  }
  .personitem6 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 292px;
  }
  .personitem7 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 334px;
  }
  .personitem8 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 376px;
  }
  .personitem9 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 418px;
  }
  .personitem10 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 460px;
  }
  .persontag {
    font-size: 7px;
    width: auto;
    margin-right: 3px;
    margin-top: 4px;
    border-radius: 2px;
    padding: 0 6px;
  }
  .personname {
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 5px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .personheadcontainer {
    padding-top: 5px;
    padding-bottom: 14.5px;
  }
  .personhead {
    font-size: 20px;
    padding-left: 10px;
  }
  .personitem0 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 102px;
  }
  .personitem1 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 123.4px;
  }
  .personitem2 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 124px;
  }
  .personitem3 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 166px;
  }
  .personitem4 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 208px;
  }
  .personitem5 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 250px;
  }
  .personitem6 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 292px;
  }
  .personitem7 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 334px;
  }
  .personitem8 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 376px;
  }
  .personitem9 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 418px;
  }
  .personitem10 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 460px;
  }
  .persontag {
    font-size: 10px;
    width: auto;
    margin-right: 3px;
    margin-top: 4px;
    border-radius: 2px;
    padding: 0 6px;
  }
  .personname {
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 5px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .personheadcontainer {
    padding-top: 5px;
    padding-bottom: 14.5px;
  }
  .personhead {
    font-size: 20px;
    padding-left: 10px;
  }
  .personitem0 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 102px;
  }
  .personitem1 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 123.4px;
  }
  .personitem2 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 124px;
  }
  .personitem3 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 166px;
  }
  .personitem4 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 208px;
  }
  .personitem5 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 250px;
  }
  .personitem6 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 292px;
  }
  .personitem7 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 334px;
  }
  .personitem8 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 376px;
  }
  .personitem9 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 418px;
  }
  .personitem10 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 460px;
  }
  .persontag {
    font-size: 10px;
    width: auto;
    margin-right: 3px;
    margin-top: 4px;
    border-radius: 2px;
    padding: 0 6px;
  }
  .personname {
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 5px;
  }
}
@media (min-width: 1200px) {
  .personheadcontainer {
    padding-top: 5px;
    padding-bottom: 14.5px;
  }
  .personhead {
    font-size: 20px;
    padding-left: 10px;
  }
  .personitem0 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 102px;
  }
  .personitem1 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 123.4px;
  }
  .personitem2 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 124px;
  }
  .personitem3 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 166px;
  }
  .personitem4 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 208px;
  }
  .personitem5 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 250px;
  }
  .personitem6 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 292px;
  }
  .personitem7 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 334px;
  }
  .personitem8 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 376px;
  }
  .personitem9 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 418px;
  }
  .personitem10 {
    padding-bottom: 19px;
    padding-left: 30px;
    height: 460px;
  }
  .persontag {
    font-size: 10px;
    width: auto;
    margin-right: 3px;
    margin-top: 4px;
    border-radius: 2px;
    padding: 0 6px;
    padding: 0 6px;
  }
  .personname {
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 5px;
  }
  
}
