.personheadcontainer {
  top: 56px;
  z-index: 2;
  position: sticky;
}
.personhead {
  display: flex;
  justify-content: flex-start;
  padding-right: 10px;
  white-space: nowrap;
}
input[type='radio'] {
  visibility: hidden;
}
.persontagcontainer {
  width: 90%;
}
/* 
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f1f1f1; 
  height: 1px;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #e8e8e8; 
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #bbb; 
}  */
@media (min-width: 321px) and (max-width: 575.98px) {
  .personheadcontainer {
    padding-top: 5px;
    padding-bottom: 19.5px;
    padding-right: 5px;
    top: 46px;
  }
  .personhead {
    padding-top: 13px;
  }
  .persontagcontainer {
    width: 110px;
  }
  .persontitle {
    padding-left: 16px;
    font-size: 15px;
  }
  .personitem0 {
    height: 60.5px;
    padding-left: 20px;
  }
  .personitem1 {
    height: 60.5px;
    padding-left: 20px;
  }
  .personitem2 {
    height: 92px;
    padding-left: 20px;
  }
  .personitem3 {
    height: 122.5px;
    padding-left: 20px;
  }
  .personitem4 {
    height: 153px;
    padding-left: 20px;
  }
  .personitem5 {
    height: 183.5px;
    padding-left: 20px;
  }
  .personitem6 {
    height: 214px;
    padding-left: 20px;
  }
  .personitem7 {
    height: 244.5px;
    padding-left: 20px;
  }
  .personitem8 {
    height: 275px;
    padding-left: 20px;
  }
  .personitem9 {
    height: 305.5px;
    padding-left: 20px;
  }
  .personitem10 {
    height: 336px;
    padding-left: 20px;
  }
  .personname {
    padding-top: 2px;
    padding-right: 25px;
    padding-bottom: 2px;
    font-size: 11px;
    width: 100px;
  }
  .radiobox {
    left: 15px;
    position: relative;
  }
  .radiotext {
    font-size: 11px;
    padding-right: 5px;
    top: 1px;
    position: relative;
  }
  .personhead label {
    cursor: pointer;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    top: 4px;
    left: 1px;
  }
  .personhead input[type='radio']:checked + label:after {
    opacity: 1;
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background: #5bc2e1;
    top: 4px;
    left: 4px;
    border: 4px solid white;
    border-radius: 2px;
    border-top: none;
    border-right: none;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .personheadcontainer {
    padding-top: 11px;
    padding-bottom: 14.5px;
  }
  .personhead {
    font-size: 16px;
    padding-right: 5px;
  }
  .persontitle {
    padding-left: 15px;
  }
  .personitem0 {
    height: 60.5px;
    padding-left: 15px;
  }
  .personitem1 {
    height: 60.5px;
    padding-left: 15px;
  }
  .personitem2 {
    height: 92px;
    padding-left: 15px;
  }
  .personitem3 {
    height: 122.5px;
    padding-left: 15px;
  }
  .personitem4 {
    height: 153px;
    padding-left: 15px;
  }
  .personitem5 {
    height: 183.5px;
    padding-left: 15px;
  }
  .personitem6 {
    height: 214px;
    padding-left: 15px;
  }
  .personitem7 {
    height: 244.5px;
    padding-left: 15px;
  }
  .personitem8 {
    height: 275px;
    padding-left: 15px;
  }
  .personitem9 {
    height: 305.5px;
    padding-left: 15px;
  }
  .personitem10 {
    height: 336px;
    padding-left: 15px;
  }
  .personname {
    padding-top: 4px;
    padding-right: 25px;
    padding-bottom: 10px;
    font-size: 14px;
  }
  .radiotext {
    font-size: 11px;
    padding-right: 5px;
    top: 2px;
    position: relative;
  }
  .personhead label {
    cursor: pointer;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    top: 3px;
    left: 1px;
  }
  .personhead input[type='radio']:checked + label:after {
    opacity: 1;
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background: #5bc2e1;
    top: 4px;
    left: 4px;
    border: 4px solid white;
    border-radius: 2px;
    border-top: none;
    border-right: none;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .personheadcontainer {
    padding-top: 5px;
    padding-bottom: 14.5px;
  }
  .personhead {
    font-size: 20px;
    padding-right: 5px;
  }
  .persontitle {
    padding-left: 20px;
  }
  .personitem0 {
    height: 60.5px;
    padding-left: 20px;
  }
  .personitem1 {
    height: 60.5px;
    padding-left: 20px;
  }
  .personitem2 {
    height: 92px;
    padding-left: 20px;
  }
  .personitem3 {
    height: 122.5px;
    padding-left: 20px;
  }
  .personitem4 {
    height: 153px;
    padding-left: 20px;
  }
  .personitem5 {
    height: 183.5px;
    padding-left: 20px;
  }
  .personitem6 {
    height: 214px;
    padding-left: 20px;
  }
  .personitem7 {
    height: 244.5px;
    padding-left: 20px;
  }
  .personitem8 {
    height: 275px;
    padding-left: 20px;
  }
  .personitem9 {
    height: 305.5px;
    padding-left: 20px;
  }
  .personitem10 {
    height: 336px;
    padding-left: 20px;
  }
  .personname {
    padding-top: 3px;
    padding-right: 25px;
    padding-bottom: 3px;
    font-size: 15px;
  }
  .radiotext {
    font-size: 13px;
    padding-right: 5px;
    top: 8px;
    position: relative;
  }
  .personhead label {
    cursor: pointer;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    top: 3px;
    left: 1px;
  }
  .personhead input[type='radio']:checked + label:after {
    opacity: 1;
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background: #5bc2e1;
    top: 4px;
    left: 4px;
    border: 4px solid white;
    border-radius: 2px;
    border-top: none;
    border-right: none;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .personheadcontainer {
    padding-top: 5px;
    padding-bottom: 14.5px;
  }
  .personhead {
    font-size: 20px;
  }
  .persontitle {
    padding-left: 20px;
  }
  .personitem0 {
    height: 60.5px;
    padding-left: 20px;
  }
  .personitem1 {
    height: 60.5px;
    padding-left: 20px;
  }
  .personitem2 {
    height: 92px;
    padding-left: 20px;
  }
  .personitem3 {
    height: 122.5px;
    padding-left: 20px;
  }
  .personitem4 {
    height: 153px;
    padding-left: 20px;
  }
  .personitem5 {
    height: 183.5px;
    padding-left: 20px;
  }
  .personitem6 {
    height: 214px;
    padding-left: 20px;
  }
  .personitem7 {
    height: 244.5px;
    padding-left: 20px;
  }
  .personitem8 {
    height: 275px;
    padding-left: 20px;
  }
  .personitem9 {
    height: 305.5px;
    padding-left: 20px;
  }
  .personitem10 {
    height: 336px;
    padding-left: 20px;
  }
  .personname {
    padding-top: 2px;
    padding-right: 25px;
    padding-bottom: 5px;
  }
  .radiotext {
    font-size: 13px;
    padding-right: 5px;
    top: 8px;
    position: relative;
  }
  .personhead label {
    cursor: pointer;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    top: 3px;
    left: 1px;
  }
  .personhead label:hover::after {
    opacity: 0.8;
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    top: 3px;
    left: 3px;
    border: 4px solid #dfdfdf;
    border-radius: 2px;
    border-top: none;
    border-right: none;
  }
  .personhead input[type='radio']:checked + label:after {
    opacity: 1;
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background: #5bc2e1;
    top: 4px;
    left: 4px;
    border: 4px solid white;
    border-radius: 2px;
    border-top: none;
    border-right: none;
  }
}
@media (min-width: 1200px) {
  .personheadcontainer {
    padding-top: 5px;
    padding-bottom: 14.5px;
  }
  .personhead {
    font-size: 20px;
    padding-left: 10px;
  }
  .persontitle {
    padding-left: 20px;
  }
  .personitem0 {
    height: 60.5px;
    padding-left: 30px;
  }
  .personitem1 {
    height: 60.5px;
    padding-left: 30px;
  }
  .personitem2 {
    height: 92px;
    padding-left: 30px;
  }
  .personitem3 {
    height: 122.5px;
    padding-left: 30px;
  }
  .personitem4 {
    height: 153px;
    padding-left: 30px;
  }
  .personitem5 {
    height: 183.5px;
    padding-left: 30px;
  }
  .personitem6 {
    height: 214px;
    padding-left: 30px;
  }
  .personitem7 {
    height: 244.5px;
    padding-left: 30px;
  }
  .personitem8 {
    height: 275px;
    padding-left: 30px;
  }
  .personitem9 {
    height: 305.5px;
    padding-left: 30px;
  }
  .personitem10 {
    height: 336px;
    padding-left: 30px;
  }
  .personname {
    padding-top: 2px;
    padding-right: 25px;
  }
  .radiotext {
    font-size: 13px;
    padding-right: 5px;
    top: 8px;
    position: relative;
  }
  .personhead label {
    cursor: pointer;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    top: 3px;
    left: 1px;
  }
  .personhead label:hover::after {
    opacity: 0.8;
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    top: 3px;
    left: 3px;
    border: 4px solid #dfdfdf;
    border-radius: 2px;
    border-top: none;
    border-right: none;
  }
  .personhead input[type='radio']:checked + label:after {
    opacity: 1;
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background: #5bc2e1;
    top: 4px;
    left: 4px;
    border: 4px solid white;
    border-radius: 2px;
    border-top: none;
    border-right: none;
  }
}