.persontag {
  background-color: #e4e4e4;
  text-align: center;
  color: #8c8c8c;
}

@media (max-width: 575.98px) {
  .personhead {
    padding-left: 10px;
    font-size: 15px;
  }
  .personitem {
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 20px;
  }
  .personname {
    font-size: 10px;
  }
  .persontag {
    font-size: 6px;
    width: 20px;
    margin-right: 3px;
    margin-top: 4px;
    border-radius: 2px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .personhead {
    font-size: 15px;
    padding-left: 10px;
  }
  .persontag {
    font-size: 10px;
    margin-right: 5px;
    width: 30px;
    border-radius: 2px;
  }

  .personitem {
    padding-bottom: 4.45rem;
    padding-left: 30px;
    padding-top: 10px;
  }
  .personname {
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 5px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .personhead {
    font-size: 15px;
    padding-left: 10px;
  }
  .persontag {
    font-size: 10px;
    margin-right: 5px;
    width: 30px;
    border-radius: 2px;
  }

  .personitem {
    padding-bottom: 4.45rem;
    padding-left: 30px;
    margin-top: 10px;
  }
  .personname {
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 5px;
  }
}
@media (min-width: 1200px) {
  .personhead {
    font-size: 20px;
    padding-left: 10px;
  }
  .personitem {
    padding-bottom: 38.5px;
    padding-left: 30px;
  }
  .persontag {
    font-size: 10px;
    width: 3vw;
    margin-right: 3px;
    margin-top: 8px;
    border-radius: 3px;
  }
  .personname {
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 5px;
  }
}
