.setting {
    justify-content: right
}
.header {
    background-color: #5bc2e1;
    border : none;
    box-shadow: '0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)';
    transition-duration: '1s';
}