.colorgrid {
    padding-left: 0px;
    padding-right: 0px;
}
.pd5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.pd10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}