.shape {
  height: 100%;
  display: inline-block;
  border-radius: 4px;
  width: 100%;
  padding-top: 100%;
  position: relative;
}
.check {
  position: absolute;
}

@media (min-width: 321px) and (max-width: 575.98px) {
  .usedicon {
    position: absolute;
    width: 37px;
    font-size: 30px;
    bottom: 6px;
    right: -26px;
  }
}
@media (min-width: 576px) and (max-width: 991.98px) {
  .usedicon {
    position: absolute;
    width: 37px;
    bottom: 6px;
    right: -28px;
  }
}
@media (min-width: 992px) {
  .usedicon {
    position: absolute;
    width: 37px;
    bottom: 3px;
    right: -28px;
  }
}
