.shape {
  height: 100%;
  display: inline-block;
  border-radius: 4px;
  width: 100%;
  padding-top: 100%;
  position: relative;
}
.check {
  position: absolute;
}

@media (min-width: 321px) and (max-width: 384.98px) {
  .usedicon {
    position: absolute;
    width: 37px;
    font-size: 30px;
    bottom: 6px;
    right: -26px;
  }
}
@media (min-width: 385px) and (max-width: 41298px) {
  .usedicon {
    position: absolute;
    width: 37px;
    font-size: 30px;
    bottom: 10px;
    right: -25px;
  }
}
@media (min-width: 413px) and (max-width: 450.98px) {
  .usedicon {
    position: absolute;
    width: 37px;
    font-size: 30px;
    bottom: 15px;
    right: -24px;
  }
}
@media (min-width: 451px) and (max-width: 490.98px) {
  .usedicon {
    position: absolute;
    width: 37px;
    font-size: 30px;
    bottom: 20px;
    right: -23px;
  }
}
@media (min-width: 491px) and (max-width: 519.98px) {
  .usedicon {
    position: absolute;
    width: 37px;
    font-size: 41px;
    bottom: 15px;
    right: -20px;
  }
}
@media (min-width: 520px) and (max-width: 575.98px) {
  .usedicon {
    position: absolute;
    width: 37px;
    font-size: 41px;
    bottom: 19px;
    right: -19px;
  }
}
@media (min-width: 576px) and (max-width: 991.98px) {
  .usedicon {
    position: absolute;
    width: 37px;
    right: -26px;
    top: -11px;
  }
}
@media (min-width: 992px) {
  .usedicon {
    position: absolute;
    width: 37px;
    bottom: -7px;
    right: -26px;
  }
}
