.shape {
  height: 100%;
  display: inline-block;
  border-radius: 4px;
  width: 100%;
  padding-top: 100%;
  position: relative;
}
.check {
  position: absolute;
}
.usedicon {
  cursor: default;
}
@media (min-width: 321px) and (max-width: 384.98px) {
  .usedicon {
    position: absolute;
    width: 37px;
    font-size: 40px;
    bottom: -3px;
    right: -22px;
  }
}
@media (min-width: 385px) and (max-width: 412.98px) {
  .usedicon {
    position: absolute;
    width: 37px;
    font-size: 41px;
    bottom: 16px;
    right: -21px;

  }
}
@media (min-width: 413px) and (max-width: 450.98px) {
  .usedicon {
    position: absolute;
    width: 37px;
    font-size: 42px;
    bottom: 23px;
    right: -21px;
  }
}
@media (min-width: 451px) and (max-width: 490.98px) {
  .usedicon {
    position: absolute;
    width: 37px;
    font-size: 43px;
    bottom: 22px;
    right: -19px;

  }
}
@media (min-width: 491px) and (max-width: 519.98px) {
  .usedicon {
    position: absolute;
    width: 37px;
    font-size: 41px;
    bottom: 21px;
    right: -20px;
  }
}
@media (min-width: 520px) and (max-width: 575.98px) {
  .usedicon {
    position: absolute;
    width: 37px;
    font-size: 41px;
    bottom: 19px;
    right: -19px;
  }
}
@media (min-width: 576px) and (max-width: 991.98px) {
  .usedicon {
    position: absolute;
    width: 37px;
    right: -27px;
    top: -7px;
    font-size: 22px;
  }
}
@media (min-width: 992px) {
  .usedicon {
    position: absolute;
    width: 37px;
    bottom: 3px;
    right: -28px;
  }
}
