.selectbox {
  border: 1px solid #55bbcc;
}
.weightpm {
  border: 1px solid #a0a0a0;
  color: #a0a0a0;
  text-align: center;
}
@media (min-width: 321px) and (max-width: 575.98px) {
  .weightpm {
    font-size: 18px;
    line-height: 17px;
    width: 3.125rem;
    border-radius: 5px;
    margin-left: 13px;
    margin-top: 7px;
  }
  .deletebox {
    padding-right: 0 !important;
    margin-left: 38px;
  }
  .Select-placeholder {
    font-size: 10px;
  }
  .selectpmbox {
    margin-bottom: 5px;
  }
  .sliderboxpm {
    margin-top: 10px;
    left: 6px;
    margin-bottom: 10px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .weightpm {
    font-size: 18px;
    line-height: 17px;
    margin-top: 6px;
    width: 3.125rem;
    border-radius: 5px;
    margin-left: 15px;
  }
  .deletebox {
    margin-top: 2px;
    margin-left: 15px;
  }
  .Select-placeholder {
    font-size: 12px;
  }
  .selectpmbox {
    margin-bottom: 5px;
  }
  .sliderboxpm {
    margin-top: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .weightpm {
    font-size: 18px;
    line-height: 17px;
    margin-top: 9px;
    width: 3.125rem;
    border-radius: 5px;
    margin-left: 15px;
  }
  .deletebox {
    margin-top: 7px;
  }
  .Select-placeholder {
    font-size: 15px;
  }
  .selectpmbox {
    margin-bottom: 5px;
  }
  .sliderboxpm {
    margin-top: 12px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .weightpm {
    font-size: 18px;
    line-height: 17px;
    margin-top: 8px;
    width: 3.125rem;
    border-radius: 5px;
    margin-left: 15px;
  }
  .deletebox {
    margin-left: 14px;
  }
  .Select-placeholder {
    font-size: 15px;
  }
  .selectpmbox {
    margin-bottom: 5px;
  }
  .sliderboxpm {
    margin-top: 12px;
  }
}
@media (min-width: 1200px) {
  .weightpm {
    font-size: 18px;
    line-height: 18px;
    margin-top: 3px;
    width: 3.125rem;
    border-radius: 5px;
    margin-left: 15px;
    top: 5px;
    position: relative;
  }
  .deletebox {
    margin-left: 9px;
    margin-top: 1px;
  }
  .Select-placeholder {
    font-size: 15px;
  }
  .selectpmbox {
    margin-bottom: 5px;
  }
  .sliderboxpm {
    margin-top: 12px;
    margin-left: 10px;
  }
}
