.btsave {
	margin-top: 20px;
}

.resetblock {
	width: 270px;
	flex-direction: column;
	display: flex;
	text-align: center;
	align-items: center;
}
a {
	text-align: center !important;
}
.btn-submit {
	font-size: 25px !important;
	margin-top: 30px;
	width: 100%;
	border-radius: 30px !important;
	background: #5bc2e1;
	background: linear-gradient(to right,#44c0e2,#78e1f4) ;
	color: white;
	padding: 3px 0 3px 0 !important;
	box-shadow: 5px 3px 16px -3px #d8d8d8;
}
.please {
	color: gray;
	font-size: 14px;
	margin-bottom: 20px;
	margin-top: 10px;
}
