.btsave {
	margin-top: 20px;
}

.resetblock {
	width: 270px;
	flex-direction: column;
	display: flex;
	text-align: center;
	align-items: center;
}
a {
	text-align: center !important;
}
.btn-submit {
	width: 100%;
  border-radius: 30px !important;
  background-color: #5bc2e1;
  color: white;
}


.please {
	color: gray;
	font-size: 14px;
	margin-bottom: 20px;
	margin-top: 10px;
}
