.membertag {
  background-color: #e4e4e4;
  text-align: center;
  color: #8c8c8c;
}
.membername {
  display: flex;
  align-items: center;
}
.eachprojectitem  {
  background-color: #ffffff;
  border-bottom: 0.5px solid #dfdfdf;
  border-right: 0.5px solid #dfdfdf;
}
.eachprojectitemoverflow  {
  background-color: #ffffff;
  border-bottom: 0.5px solid #dfdfdf;
  border-right: 0.5px solid #dfdfdf;
}
.membertag {
  background-color: #e4e4e4;
  text-align: center;
  color: #8c8c8c;
}
.membername {
  display: flex;
  align-items: center;
}
@media (min-width: 321px) and (max-width: 575.98px) {
  .eachprojectitem {
    padding-left: 20px;
    padding-bottom: 27.5px;
    font-size: 11px;
    width: 160px;
  }
  .eachprojectitemoverflow {
    padding-left: 20px;
    height: 77px;
    width: 160px;
  }
  .membername {
    padding-top: 12px;
    padding-right: 25px;
    font-size: 13px;
  }
  .membertag {
    font-size: 9px;
    line-height: 10px;
    margin-right: 3px;
    margin-top: 8px;
    border-radius: 3px;
    padding-left: 4px;
    padding-right: 4px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .eachprojectitem {
    padding-left: 20px;
    padding-bottom: 23.5px;
    font-size: 11px;
  }
  .eachprojectitemoverflow {
    padding-left: 20px;
    height: 77px;
  }
  .membername {
    padding-top: 12px;
    padding-right: 25px;
    font-size: 14px;
  }
  .membertag {
    font-size: 8px;
    margin-right: 3px;
    margin-top: 8px;
    border-radius: 3px;
    padding-left: 4px;
    padding-right: 4px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .eachprojectitem {
    padding-left: 20px;
    padding-bottom: 20.5px;
  }
  .eachprojectitemoverflow {
    padding-left: 20px;
    height: 77px;
  }
  .membername {
    padding-top: 12px;
    padding-right: 25px;
  }
  .membertag {
    font-size: 11px;
    line-height: 12px;
    margin-right: 3px;
    margin-top: 8px;
    border-radius: 3px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .eachprojectitem {
    padding-left: 20px;
    padding-bottom: 20.5px;
  }
  .eachprojectitemoverflow {
    padding-left: 20px;
    height: 77px;
  }
  .membername {
    padding-top: 10px;
    padding-right: 25px;
    font-size: 17px;
  }
  .membertag {
    font-size: 12px;
    line-height: 13px;
    margin-right: 3px;
    margin-top: 8px;
    border-radius: 3px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media (min-width: 1200px) {
  .eachprojectitem {
    padding-left: 20px;
    border-bottom: 0.5px solid #dfdfdf;
    padding-bottom: 19.5px;
  }
  .eachprojectitemoverflow {
    padding-left: 20px;
    height: 77px;
  }
  .membername {
    padding-right: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 18px;
  }
  .membertag {
    font-size: 12px;
    line-height: 12px;
    margin-right: 3px;
    margin-top: 8px;
    border-radius: 3px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
