.calendar {
  position: absolute;
  padding-right: 30px;
}
.btn-cleardata {
  margin: 10px 10px 10px 0;
  font-size: 12px !important;
  background-color: #dc3534;
  color: white;
}
.btn-save5bc2e1 {
  margin: 10px 0px 12px 0;
  padding-right: 10px;
  position: relative;
  top: 2px;
  font-size: 12px !important;
  background-color: #5bc2e1;
  color: white;
}
@media (min-width: 321px) and (max-width: 575.98px) {
  .calendar {
    bottom: 2px;
    position: relative;
  }
  .calendaricon {
    width: 8px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .calendar {
    bottom: 1px;
    position: relative;
  }
  .calendaricon {
    width: 10px;
  }
}
