/* @import url('https://fonts.googleapis.com/css?family=Prompt'); */
@font-face {
	font-family: 'DB Helvethaica X';
	font-style: normal;
	font-weight: 700;
	src: url('./fonts/DB Helvethaica X/DB Helvethaica X Ext v3.2.ttf');
}
html {
	margin: 0;
	padding: 0;
	height: 100%;

}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	max-height: 100% !important;
	width: 100% !important;
	float: left;
	background-color: #eaf9fe;
	font-family: 'DB Helvethaica X' !important;

}
@media (min-width: 321px) and (max-width: 575.98px) {
	.loader {
    position: fixed;
    z-index: 999;
    border: 5px solid white; /* Light grey */
    border-top: 5px solid #5bc2e1; /* Blue */
    border-radius: 50%;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
  }
}
@media (min-width: 576px) {
  .loader {
    position: fixed;
    z-index: 999;
    border: 10px solid white; /* Light grey */
    border-top: 10px solid #5bc2e1; /* Blue */
    border-radius: 50%;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
    width: 150px;
    height: 150px;
    animation: spin 2s linear infinite;
  }
}
