/* @import url('https://fonts.googleapis.com/css?family=Prompt'); */
@font-face {
	font-family: 'DB Helvethaica X';
	font-style: normal;
	font-weight: 700;
	src: url('./fonts/DB Helvethaica X/DB Helvethaica X Ext v3.2.ttf');
}
html {
	margin: 0;
	padding: 0;
	height: 100%;

}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	max-height: 100% !important;
	width: 100% !important;
	float: left;
	background-color: #eaf9fe;
	font-family: 'DB Helvethaica X' !important;
	/* overflow-x: hidden; */
	/* overflow-y: hidden; */

}

/* .navbar {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
} */
/* .rct-day-6 {
	border-right: 1px solid red;
} */

/* .rct-day-0 {
	border-left: 1px solid red !important;
} */
