.btn-newproject5bc2e1 {
  background-color: #5bc2e1;
  color: white;
  margin: 10px 0px 5px 0px;
  font-size: 16px !important;
  width: 150px;
}
.eachItem {
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}
.boxButton {
  margin: auto;
}
.overviewprojectitem {
  margin-right: 5px;
}
.editprocessweight {
  width: 12%;
}
.editprocessweightbox {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  top: 10px;
  right: 10px;
}
@media (min-width: 321px) and (max-width: 575.98px) {
  .dot {
    padding-right: 10px;
    position: relative;
    bottom: 1px;
    width: 18px;
  }
  .userdetail {
    width: 120px;
    margin: 20px 0 20px 20px;
    padding: 6px 11px 6px 11px;
    font-size: 13px;
    max-height: 85%;
  }
  .userdetailusername {
    font-size: 18px;
  }
  .overviewprojectitem {
    padding-bottom: 10px;
  }
  .overviewprogress {
    width: 100% !important;
    height: 3px !important;
  }
  .btn-newproject5bc2e1 {
    font-size: 12px !important;
    align-items: center !important;
    width: 95px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .dot {
    padding-right: 10px;
    position: relative;
    bottom: 1px;
    width: 18px;
  }
  .userdetail {
    width: 120px;
    margin: 20px 0 20px 20px;
    padding: 7px 12px 7px 12px;
    font-size: 17px;

    max-height: 85%;
  }
  .overviewprojectitem {
    padding-bottom: 10px;
  }

  .overviewprogress {
    width: 100% !important;
    height: 3px !important;
  }
  .btn-newproject5bc2e1 {
    font-size: 12px !important;
    align-items: center !important;
    width: 100px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .dot {
    padding-right: 15px;
    position: relative;
    bottom: 1px;
    width: 26px;
  }
  .userdetail {
    width: 150px;
    margin: 20px 0 20px 20px;
    padding: 10px 15px 10px 15px;
    font-size: 20px;

    max-height: 85%;
  }
  .overviewprojectitem {
    padding-bottom: 10px;
  }

  .btn-newproject5bc2e1 {
    font-size: 12px !important;
    align-items: center !important;
    width: 110px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .dot {
    padding-right: 15px;
    position: relative;
    bottom: 1px;
    width: 26px;
  }
  .userdetailusername {
    font-size: 25px;
  }
  .userdetail {
    width: 180px;
    margin: 20px 0 20px 20px;
    padding: 10px 25px 10px 25px;
    font-size: 20px;
    max-height: 85%;
  }
  .overviewprojectitem {
    padding-bottom: 10px;
  }

  .overviewprogress {
    width: 100% !important;
    height: 7px !important;
  }

  .btn-newproject5bc2e1 {
    font-size: 12px !important;
    align-items: center !important;
    width: 130px;
  }
}

@media (min-width: 1200px) {
  .dot {
    padding-right: 15px;
    position: relative;
    bottom: 1px;
    width: 26px;
  }
  .userdetailusername {
    font-size: 25px;
  }
  .userdetail {
    width: 200px;
    margin: 20px 0 20px 20px;
    padding: 10px 25px 10px 25px;
    font-size: 20px;
    max-height: 85%;
  }
  .overviewprojectitem {
    padding-bottom: 10px;
  }

  .overviewprogress {
    width: 100% !important;
    height: 10px !important;
  }
  
}
